.gallery{
  height: 25vh;
  font-weight: 900;
  font-family: 'custom-mongoose',"Manrope", sans-serif;
  font-size: 8rem;
  color: white;
}

.tech-slideshow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80vh;
  padding: 1rem;
  max-width: 100vw;
  padding-right: revert;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

/*.tech-slideshow > div {*/
/*  height: 200px;*/
/*  width: 100vw;*/
/*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  height: 100%;*/
/*  transform: translate3d(0, 0, 0);*/
/*}*/
/*.tech-slideshow .mover-1 {*/
/*  animation: moveSlideshow 12s alternate-reverse infinite;*/
/*}*/
/*.tech-slideshow .mover-2 {*/
/*  opacity: 0;*/
/*  transition: opacity 0.5s ease-out;*/
/*  background-position: 0 -200px;*/
/*  animation: moveSlideshow 15s alternate-reverse infinite;*/
/*}*/
/*.tech-slideshow:hover .mover-2 {*/
/*  opacity: 1;*/
/*}*/
.mover-1{
    animation: moveSlideshow 10s linear infinite;

}
.mover-2{

    animation: moveSlideshow 10s linear reverse infinite;
}
.mover-3{
  margin-left: auto;
    animation: moveSlideshow 10s linear infinite;
}

.h1{
  width: 100vw;

}

@keyframes moveSlideshow {
  100% {
    transform: translateY(-66.6666%);
  }
}