.gallery {
  height: 25vh;
  font-weight: 900;
  font-family: 'custom-mongoose', "Manrope", sans-serif;
  font-size: 8rem;
  color: white;
}

.tech-slideshow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80vh;
  padding: 1rem;
  max-width: 100vw;
  padding-right: revert;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.mover-1 {
  animation: moveSlideshow 30s linear infinite;
}

.mover-2 {
  animation: moveSlideshow 36s linear reverse infinite;
}

.mover-3 {
  margin-left: auto;
  animation: moveSlideshow 30s linear infinite;
}

.mover-1:hover,
.mover-2:hover,
.mover-3:hover {
  animation-play-state: paused; /* Pauses the animation on hover */
}

.h1 {
  width: 100vw;
}

@keyframes moveSlideshow {
  100% {
    transform: translateY(-66.6666%);
  }
}
