*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: "Manrope", sans-serif;
  }

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    font-family: "Manrope", sans-serif;
}

.menu-item1{
    display: grid;
    background-color: #2D51FD;

}
.menu-item1- {
    display: auto;
    position: relative;
    padding: 10px;
    margin: 2px;
    font-family: "Manrope", sans-serif;
}

.menu-item1-1{
    display: flex;
    position: relative;
    top: 10%;
}

.menu-item1-2{
    display: flex;
    position: relative;
}

.menu-item1-3{
    display: flex;
    position: relative;
    top: 10%;
}
.menu-item1-4{
    display: flex;
}


.menu-item2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-family: "Manrope", sans-serif;

}

.menu-item2-1{
    display: flex;
    position: relative;
    background: #FFD0D0;

}

.menu-item2-1 .h1{
    font-size: 2.5rem;
    font-weight: 180;
    margin: auto;


}

.menu-item2-2{
    display: flex;
    position: relative;
    background: #D6DCFF;
}
.menu-item2-3{
    display: flex;
    position: relative;
    background: #FFFFFF;
}
.menu-item2-4{
    display: flex;
    position: relative;
    background: #B5B1FE;
}


