@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: "Manrope", sans-serif;
  }

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    font-family: "Manrope", sans-serif;
    font-weight: bold;

}

.menu-item1{
    display: grid;
    background-color: #2D51FD;
    font-size: xx-large;
}
.menu-item1- {
    display: revert;
    position: relative;
    left: 1rem;
    top: 1rem;

}

.menu-item1-1{
    display: flex;
    position: relative;
}

.menu-item1-2{
    display: flex;
    position: relative;
    align-content: center;
}

.menu-item1-3{
    display: flex;
    position: relative;
    top: 10%;
}
.menu-item1-4{
    display: flex;
}

.Home{
    display: flex;
    position: relative;
    font-size: 5rem;
    left: 7rem;
    color: #DCFF02;
}

.FAQ {
    display: flex;
    position: relative;
    left: 7rem;
    color: #DCFF02;
}

.Speakers{
    display: flex;
    position: relative;
    text-align: center;
    left: 12rem;
    color: #DCFF02;
}




.menu-item2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-family: "Manrope", sans-serif;
    font-size: larger;
}

.menu-item2-1{
    display: flex;
    position:relative;
    background: #FFD0D0;
    text-decoration-color: #5e1a78;
    font-size: xxx-large;
}
.Schedule{
    display: flex;
    position: relative;
    font-size: 5rem;
    text-align: center;
    left: 5rem;
    top: 5rem;
    color: #2D51FD;

}

.Contact{
    display: flex;
    position: relative;
    font-size: 5rem;
    text-align: center;
    left: 5rem;
    top: 5rem;
    color: #BC95F2;
}

.Virtual{
    display: flex;
    position: relative;
    font-size: 5rem;
    text-align: center;
    left: 5rem;
    top: 5rem;
    color: #5C2293;
}

.Gallery{
    display: flex;
    position: relative;
    font-size: 5rem;
    text-align: center;
    left: 5rem;
    top: 5rem;
    color: #DCFF02;
}

.menu-item2-2{
    display: flex;
    position: relative;
    background: #D6DCFF;
    text-decoration-color: #5e1a78;
}
.menu-item2-3{
    display: flex;
    position: relative;
    background: #FFFFFF;
}
.menu-item2-4{
    display: flex;
    position: relative;
    background: #B5B1FE;
}


