@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 Replicate from here
@font-face {
  font-family: "Mongoose-Medium";
  src: local("Mongoose-Medium"),
  url("./components/Assets/Fontspring-DEMO-mongoose-medium.otf") format("truetype");
}
.mongoose-med {
  font-family: "Mongoose-Medium";
}

@font-face {
    font-family: 'custom-mongoose';
    src: url('./components/Assets/Fontspring-DEMO-mongoose-black.otf');
    src: url('./components/Assets/Fontspring-DEMO-mongoose-blackitalic.otf');
    src: url('./components/Assets/Fontspring-DEMO-mongoose-bold.otf');
    src: url('./components/Assets/Fontspring-DEMO-mongoose-bolditalic.otf');
    src: url('./components/Assets/Fontspring-DEMO-mongoose-italic.otf');
    src: url('./components/Assets/Fontspring-DEMO-mongoose-light.otf');
    src: url('./components/Assets/Fontspring-DEMO-mongoose-lightitalic.otf');
    src: url("./components/Assets/Fontspring-DEMO-mongoose-medium.otf");
    src: url("./components/Assets/Fontspring-DEMO-mongoose-mediumitalic.otf");
    src: url("./components/Assets/Fontspring-DEMO-mongoose-regular.otf");
    src: url("./components/Assets/Fontspring-DEMO-mongoose-thin.otf");
}